@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: center;
    background-color: #ffffff;
}

.navigation-link {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.user-favorites-num {
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
    background-color: #7db54f;
    border-radius: 50%;
    padding: 5px;
}
