@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.page-container {
  width: 1200px;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);

}

.page-header {
  padding: 0 70px;
  background-color: #ffffff;

}

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 0;
  margin-bottom: -6px;
}

.logo {
  display: block;
  width: 140px;
  margin-right: 28px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-right: auto;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding: 19px 16px;
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #595959;
  content: "";
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-item-button {
  padding: 14px 0 14px 20px;
}

.user-link {
  width: 44px;
  height: 64px;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  padding: 22px 12px;
  box-sizing: border-box;
  /*outline: 1px solid #5582a0;*/
}

.user-link-search {
  background-image: url("../images/header/search.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.user-link-favorites {
  background-image: url("../images/header/likes.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.user-favorites-num {
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
  margin: 0;
  padding: 5px 5px 5px 4px;
  position: absolute;
  content: "";
  display: block;
  top: 11px;
  right: 4px;
}

.user-button {
  width: 160px;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  padding: 8px 0;
}

.main-container {
  flex-grow: 1;

}

.hero {
  background-image: url("../images/hero/index-background.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #5582a0;
  text-align: center;
  object-fit: contain;
}

.hero-title {
  display: block;
  width: 458px;
  height: auto;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
  position: relative;
}

.hero-title:after {
  background-image: url("../images/hero/divider.svg");
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
}

.advantages {
  text-align: center;
}

.advantages-wrapper {
  width: 652px;
  margin: 0 auto;
  padding: 69px 0;
}

.subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
  margin: 0;
}

.advantages-subtitle {
  margin-bottom: 25px;
}

.description-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.advantages-description-subtitle {
  margin: 0;
}

.advantages-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 21px 0 0 0;
  list-style: none;
}

.advantages-item {
  width: 400px;
}

.description-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 385px;
  padding: 0 85px;
  box-sizing: border-box;
}

.advantage-image {
  width: 800px;
  height: auto;
  object-fit: contain;
}

.advantages-item-picture {
  display: flex;
}

.services {
  text-align: center;
}

.services-wrapper {
  width: 505px;
  margin: 0 auto;
  padding: 64px 0;
}

.services-subtitle {
  margin-bottom: 20px;
}

.services-description-subtitle {
  margin: 0;
 }

.services-heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.color-basic {
  background-color: #82b3d3;
  color: #ffffff;
}

.color-basic .advantages-heading {
  color: #ffffff;
}

.color-light {
  background-color: rgba(131, 179, 211, 0.12);
}

.color-pale {
  background-color: rgba(131, 179, 211, 0.2);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item {
  width: 400px;
}

.interested {
  text-align: center;
}

.interested-wrapper {
  width: 592px;
  margin: 0 auto;
  padding: 96px 0;
}

.interested-subtitle {
  margin-top: 0;
  margin-bottom: 20px;
}

.interested-description-subtitle {
  margin-top: 0;
  margin-bottom: 54px;
}

.interested-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  display: block;
  width: 360px;
  padding: 8px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.subscribe {
  text-align: center;
}

.subscribe-wrapper {
  width: 684px;
  margin: 0 auto;
  padding: 96px 0 104px;
}

.subscribe-subtitle {
  margin-bottom: 20px;
}

.subscribe-description-subtitle {
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe-bg {
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #5582a0;
  color: #ffffff;
}

.subscribe-bg .subtitle {
  color: #ffffff;
}

.subscribe-form{
  width: 684px;
  display: flex;
}

.subscribe-field {
  width: 452px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f2f2f2;
  padding: 14px;
  box-sizing: border-box;
  border: none;
}

.subscribe-button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82b3d3;
  border: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  text-transform: uppercase;
  width: 232px;
  padding: 8px;
  cursor: pointer;
}

.page-footer {
  padding: 40px 70px 30px 70px;
  display: flex;
  justify-content: space-between;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-item {
  width: 48px;
  height: 40px;
  cursor: pointer;
}

.socials-link {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
}

.socials-icon {
  position: absolute;
  content: "";
  margin: auto;
  fill: #83b3d3;
}

.socials-icon:hover {
  fill: #68a2ca;
}

.socials-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.socials-icon:focus {
  fill: #68a2ca;
}

.socials-link-vk {
  top: 13px;
  left: 12px;

}

.socials-link-telegram {
  top: 12px;
  left: 15px;
}

.socials-link-youtube {
  top: 12px;
  left: 13px;
}

.phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.phone:hover {
  color: #756157;
}

.phone:focus {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.copyright-link {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  width: 115px;
  height: 33px;
  align-self: center;
  display: block;
}

.copyright-logo {
  position: absolute;
  content: "";
  margin: auto;
  fill: #000000;
}

.copyright-logo:hover {
  fill: #756157;
}

.copyright-logo:active {
  fill: rgba(117, 97, 87, 0.3);
}

.copyright-logo:focus {
  fill: #756157;
}

.catalog-header {
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #5582a0;
  color: #ffffff;
  padding: 35px 70px 70px;
}

.catalog-heading {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
  align-items: center;
}

.breadcrumbs-link {
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-link-hotels {
  padding-left: 18px;
  background-image: url("../images/breadcrumbs/arrow.svg");
  background-repeat: no-repeat;
  background-size: 8px auto;
  background-position: start center ;
  outline: 1px solid #82b3d3;
}

.breadcrumbs-link-home {
  width: 12px;
  height: 12px;
  background-image: url("../images/breadcrumbs/home.svg");
  background-repeat: repeat;
  background-size: cover;
  margin-right: 10px;
  outline: 1px solid #82b3d3;
  display: block;
}

.catalog-filter {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.housing-type {
  margin-right: auto;
}

.cost {
  min-width: 288px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 32px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control-input {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  background-color: #f2f2f2;
}

.cost-field {
  width: 143px;
  min-height: 48px;
  box-sizing: border-box;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  padding: 12px 20px;
  border: none;
}

.from {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.to {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.filter-buttons {
  width: 191px;
  align-self: end;
}

.filter-button {
  display: inline-block;
  width: 191px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 0;
  cursor: pointer;
}

.apply {
  background-color: #82b3d3;
  margin-bottom: 32px;
}

.reset {
  background-color: transparent;
}

.catalog-products {
  padding: 50px 70px 60px;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  align-items: flex-start;
}

.sorting .subtitle {
  width: 468px;
  /*align-self: center; Проверить,как будет выравниваться при ппереполнении. Нужен ли padding-top: 7px;?*/
  padding-top: 7px;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 12px 20px;
  padding-right: 40px;
  width: 292px;
  height: 48px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
  appearance: none;
  background-image: url("../images/products/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus {
  border-color: #3f5e72;
  outline: none;
}

.button-show-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 160px;
  box-sizing: border-box;
}

.button-show {
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #333333;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 44px;
  height: 44px;
  display: block;
  cursor: pointer;
}

.button-show:hover {
  border-color: #000000;
}

.button-show:focus {
  border-color: #68a2ca;
}

.button-show:active {
  border-color: #000000;
}



.button-show-tiles {
  background-image: url("../images/products/tiles.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.button-show-slides {
  background-image: url("../images/products/slides.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.button-show-enumeration {
  background-image: url("../images/products/list.svg");
  background-repeat: no-repeat;
  background-position: center center;
}


.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 40px 0 80px;
}

.product-item {
  width: 340px;
  border: 1px solid #e6e6e6;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  padding: 19px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 212px 1fr;
  gap: 16px 20px;
  align-items: start;
}

.product-link {
  text-decoration: none;
  grid-column: 1/-1;
}

.product-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding: 0;
  margin: 0;
}

.product-image-link {
  grid-column: 1/-1;
}

.product-image {
  width: 300px;
  height: auto;
  display: block;
}

.product-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.product-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: end;
}

.product-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  padding: 8px;
}

.product-to-favorites {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82b3d3;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 8px;
  cursor: pointer;
}

.product-in-favorites {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #7db54f;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 8px;
  cursor: pointer;
}

.product-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 9px 8px 8px;
  text-align: center;
}

.product-starsbox {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

.product-star {
  width: 18px;
  background-image: url("../images/products/star.svg");
  background-repeat: no-repeat;
  padding: 10px 6px 10px 0;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
  margin: 0;
}

.pagination-item {
  margin: 0;
  padding: 0;
  list-style: none;
 }

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  text-align: center;
  padding: 12px 12px;
  border-radius: 4px;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-ellipsis {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  padding: 12px 0;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}
