@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: center;
    background-color: #ffffff;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.user-link {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.user-favorites-num {
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
    background-color: #7db54f;
    border-radius: 50%;
    padding: 5px;
}

.navigation-button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px;
}

.hero {
    background-image: url("../images/hero/index-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #82b3d3;
    color: #ffffff;
}

.subtitle {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
}

.description-subtitle {
    font-size: 22px;
    line-height: 26px;
}

.advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
}

.advantages-description {
    font-size: 18px;
    line-height: 21px;
}

.services-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
}

.services-description {
    font-size: 18px;
    line-height: 21px;
}

.color-basic {
    background-color: rgba(131, 179, 211, 1);
    color: #ffffff;
}

.color-basic .advantages-title {
    color: #ffffff;
}

.color-light {
    background-color: rgba(131, 179, 211, 0.12);
}

.color-pale {
    background-color: rgba(131, 179, 211, 0.2);
}

.interested-button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #756157;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px;
    text-transform: uppercase;
}

.subscribe-bg {
    background-image: url("../images/subscribe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #82b3d3;
    color: #ffffff;
}

.subscribe-bg .subtitle {
    color: #ffffff;
}

.subscribe-field {
    font-size: 18px;
    line-height: 24px;
}

.subscribe-button {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #82b3d3;
    border: #ffffff;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.socials-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.phone {
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.copyright-logo {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}

.catalog-header {
    background-image: url("../images/filter.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #82b3d3;
    color: #ffffff;
}

.catalog-heading {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;
}

.breadcrumbs-link {
    color: #ffffff;
    text-decoration: none;
}

/catalog-filter-group {
    border: ;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
